.nav_out {
  position: absolute;
  top: 0;
  z-index: 900000000;
}

.nav_left {
  & > img {
    max-width: 12rem;
  }
}

@include media("<=992px") {
  .active_navbar {
    display: block !important;
  }
}
.nav_right {
  @include flex(center, center);
}

.nav_menus {
  @include flex(flex-end, center);
  & > :not(:nth-last-child(1)) {
    @include media(">=992px") {
      border-right: 0.2rem solid white;
    }
  }
  & > li {
    & > a {
      padding-inline: clamp(0.2rem, 1rem, 1vw);
      text-decoration: none;
      color: white;
      text-transform: capitalize;
      cursor: pointer;

      &:hover {
        color: $red;
      }
    }
  }

  @include media("<=992px") {
    position: absolute;
    display: block;
    background-color: black;
    width: 100%;
    left: 0;
    top: 0rem;
    height: 100vh;

    text-align: center;

    & > li {
      padding-block: 1rem;
    }
    & > :nth-child(1) {
      margin-top: 25%;
    }
    display: none;
  }

  /* ----------------------------- responsive nav ----------------------------- */
}

.hamburger {
  z-index: 999999999999;
  @include media(">=992px") {
    display: none;
  }

  & > i {
    font-size: 3rem;
    color: white;
  }
}
