*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  background-image: linear-gradient(rgb(18, 17, 17), rgba(28, 23, 49, 0.729));
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
.main_section_wrapper {
  background: url("/public/images/businessman-touching-virtual-mobile-phone-among-e-mail-address-business-contact-customer-service-concept.png");
  min-height: 100vh;
  width: 100vw !important;
  background-size: cover;
  background-position: center 0rem;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
    left: 0;
    top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    left: 0;
    bottom: 0rem;
  }
}
.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}
ul,
.map_section_wrapper {
  display: flex;
}
.main_section_wrapper {
  justify-content: center;
}
.logo_container img {
  height: 7rem;
  margin-left: 3rem;
}
li {
  list-style: none;
  margin-right: 1rem;
  border-right: 1px solid #fff;
  padding-right: 1rem;
}
li:nth-child(7) {
  border: none;
}
li a {
  border-right: 1px silid #fff;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.map_section,
.form_Section {
  width: 50%;
  padding: 1rem;
}
/* .additional_info {
  padding: 1rem;
} */
.map_section_wrapper {
  padding: 4rem;
  background-color: #000;
}
input {
  height: 5rem;
  border: none;
  padding: 1rem;
  margin: 1.5rem;
  outline: none;
  background-color: rgb(55, 53, 53);
  color: #fff;
}
button {
  padding: 1rem 0;
  margin: 1rem;
  background: red;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  height: 5rem;
  font-size: 1.6rem;
  border-radius: 2rem;
}
.message {
  height: 10rem;
}
/* .additional_info p {
  color: #fff;
  font-size: 1.5rem;
  /* line-height: 1rem; */

/* .info_1 {
  background-color: #656464;
  display: inline-block;
  padding: 1.5rem;
  margin-right: 3rem;
} */
/* .additional_info {
  display: flex;
  justify-content: flex-start;
} */
.collection_1,
.collection_2 {
  display: -webkit-inline-box;
  padding: 1rem;
  margin-left: 1rem;
  width: 30rem;
}
footer {
  background-image: url(./images/Rectangle.png);
  height: 100%;
  width: 100vw;
}
/* @media (max-width: 1100px) {
  .additional_info,
  .additional_info2 {
    flex-direction: column;
  }
  .map_section_wrapper {
    padding: 1rem;
  }
  form {
    margin-top: 0;
  }
  iframe {
    height: 100%;
  }
} */
@media (max-width: 600px) {
  .map_section_wrapper {
    flex-direction: column;
  }
  .map_section,
  .form_Section {
    width: 100%;
  }
  .map_section {
    height: 40rem;
  }
  .navbar_wrapper {
    display: none;
  }
  .main_section_wrapper {
    height: 50rem;
  }
  .main_section_wrapper img {
    height: 100%;
    object-fit: fill;
  }
}
