*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  background-image: linear-gradient(rgb(18, 17, 17), rgba(28, 23, 49, 0.729));
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
.main_section_wrapper {
  background: url("/public/images/Leadership.jpg");
  min-height: 100vh;
  width: 100vw !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* position: absolute; */

  &::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
    left: 0;
    top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    left: 0;
    bottom: 0rem;
  }
  & p {
    position: relative;
    top: 10rem;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
  }
}
.right-section h1 {
  color: #ff0000;
}
.leadership_wrapper {
  border: 1px solid #fff;
  border: 1px solid #fff;
}

.right-section p {
  padding: 0rem 10rem 5rem 10rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 2rem;
}
.left-section img {
  height: 15rem;
}
.left-section {
  border-right: 1px solid #fff;
}
.right-section h1 {
  border-bottom: 1px solid #fff;
  padding: 5rem 10rem;
}
.border-left {
  border-left: 1px solid #fff;
}
/* media queries */
@media (min-width: 2000px) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
  .img-fluid {
    height: 10rem !important;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 52%;
  }
  .img-fluid {
    height: 6rem !important;
  }
  .left-section img {
    height: 8rem;
  }
  .right-section p {
    padding: 0rem 3rem 5rem 3rem;
  }
  .right-section h1 {
    padding: 5rem 3rem;
  }
  br {
    display: none;
  }
  .main_section_wrapper p {
    margin-top: 5rem;
    padding: 3rem;
  }
  .right-section p {
    font-size: 1.5rem;
  }
}
